.category-section {
    margin-top: 30px;
}

.heading-info {
    font-weight: 900;
}

.image-crop {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    padding: 20px 20px 20px 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.image-crop::-webkit-scrollbar {
    display: none;
}

.movie__div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.movie__poster {
    border-radius: 30px;
    width: 20px;
    transition: 0.2s;
}

.movie__poster:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

