.category-section {
  margin-top: 30px;
}

.heading-info {
  font-weight: 900;
  font-size: "20px";
}

.image-crop {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
  padding: 20px 20px 20px 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.image-crop::-webkit-scrollbar {
  display: none;
}

/* .add_trailer > p {
  width: 50px;
  height: 50px;
  border-radius: 50%;
} */

/* .add_trailer:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.801);
} */

@media only screen and (min-width: 0px) and (max-width: 425px) {
  .heading-info {
    font-weight: 800;
    font-size: 10px;
  }
}
