.header-image {
    display: flex;
}

.header__start__name {
    display: flex;
    flex-direction: row;
}

.bg__dark {
    background-color: black;
}

.header__logo {
    position: fixed;
    width: 120px;
    z-index: 10;
    left: 0;
    object-fit: contain;
    padding-left: 13px;
    top:13px;
}

.floated-right-nav {
    display: flex;
    flex-direction: column;
}

.avatar__logo {
    object-fit: contain;
    width: 35px;
    right: 4px;
    padding-top: 10px;
    cursor:pointer;
}

.search-icon {
    position: relative;
    padding-right: 30px;
    padding-top: 20px;
    z-index: 10;
    cursor:pointer;
}

.more-nav {
    text-decoration: none;
    list-style-type: none;
    margin-left: 91%;
    background-color: black;
    border:2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 5px;
    width: 86px;
    height: 40px;
    margin-top: 4.5%;
    z-index: 10;
    position: fixed;
}

.more-nav::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    right: 10px;
    top: -12px;
    border-style: solid;
    border-width: 0px 8px 16px 8px;
    border-color: transparent transparent black transparent;
}

.nav-links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    margin-top: 17px;
    margin-left: 160px;
    z-index: 10;
    position: fixed;
    cursor: pointer;
}

.nav-icon {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    position: fixed;
    margin-left: 90%;
    z-index: 10;
    position: fixed;
}



/*********Media Query for Mobile***********/
@media only screen and (min-width:0px) and (max-width:320px) {
    .nav-links {
        display: none;
    }
    
    .header__logo {
        padding-left: 15px;
    }
    
    .nav-icon {
        margin-left: 60%;
    }

    .search-icon {
        padding-right: 25px;
    }

    .more-nav {
        margin-left: 64%;
        margin-top: 20%;
    }
} 

@media only screen and (min-width:321px) and (max-width:376px) {
    .nav-links {
        display: none;
    }

    .nav-icon {
        margin-left: 65.5%;
    }

    .search-icon {
        padding-right: 25px;
    }

    .more-nav {
        margin-left: 69%;
        margin-top: 16%;
    }
}

@media only screen and (min-width:377px) and (max-width:426px) {
    .nav-links {
        display: none;
    }

    .nav-icon {
        margin-left: 69.5%;
    }

    .search-icon {
        padding-right: 25px;
    }

    .more-nav {
        margin-left: 73%;
        margin-top: 14%;
    }
}

@media only screen and (min-width:427px) and (max-width:769px){
    .nav-icon {
        margin-left: 83%;
    }

    .search-icon {
        padding-right: 25px;
    }

    .more-nav {
        margin-left: 84.5%;
        margin-top: 8%;
    }
}

@media only screen and (min-width:770px) and (max-width:1025px) {
    .nav-icon {
        margin-left: 87%;
    }

    .search-icon {
        padding-right: 25px;
    }

    .more-nav {
        margin-left: 88%;
        margin-top: 6%;
    }
}