.header-image {
    display: flex;
}

.header__start__name {
    display: flex;
    flex-direction: row;
}

.bg__dark {
    background-color: black;
}

.header__logo {
    position: fixed;
    width: 120px;
    z-index: 10;
    left: 0;
    object-fit: contain;
    padding-left: 13px;
    top:13px;
}

.avatar__logo {
    object-fit: contain;
    width: 35px;
    right: 6px;
    padding-top: 10px;
}

.search-icon {
    position: relative;
    padding-right: 30px;
    padding-top: 20px;
    z-index: 10;
    cursor:pointer;
}


.nav-links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    margin-top: 17px;
    margin-left: 160px;
    z-index: 10;
    position: fixed;
    cursor: pointer;
}

.nav-icon {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    position: fixed;
    margin-left: 90%;
    z-index: 10;
    position: fixed;
}



/*********Media Query for Mobile***********/
@media only screen and (min-width:0px) and (max-width:320px) {
    .nav-links {
        display: none;
    }
    
    .header__logo {
        padding-left: 15px;
    }
    
    .nav-icon {
        margin-left: 65%;
    }

    .search-icon {
        padding-right: 25px;
    }
} 

@media only screen and (min-width:321px) and (max-width:376px) {
    .nav-links {
        display: none;
    }

    .nav-icon {
        margin-left: 70%;
    }

    .search-icon {
        padding-right: 25px;
    }
}

@media only screen and (min-width:377px) and (max-width:426px) {
    .nav-links {
        display: none;
    }

    .nav-icon {
        margin-left: 70%;
    }

    .search-icon {
        padding-right: 25px;
    }
}

@media only screen and (min-width:427px) and (max-width:769px){
    .nav-icon {
        margin-left: 85%;
    }

    .search-icon {
        padding-right: 25px;
    }
}