.landing__section {
    position: relative;
    height:90vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1d9C4UyF9p2_19p4LKo7zEroQn7VL8Y7VsQ&usqp=CAU") center no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.landing__header {
    background-color: '#7F000000';
}

.landing__logo {
    position: fixed;
    z-index: 10;
    width: 120px;
    left: 10px;
    object-fit: contain;
    top:20px;
}

.sign_btn {
    position: fixed;
    height: 35px;
    color: white;
    margin-top: 13px;
    right: 10px;
    background-color: red;
    z-index: 10;
    cursor: pointer;
    border-radius: 10px;
    width: 6rem;
    border: 1px solid transparent;
}

.invisible__imaage__dark {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.8) 100%);
}

.landing__text {
    position:absolute;
    width: max-content;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);    
    z-index: 2;
    padding: 20px;
    color:#fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: '#7F000000';
}


.header__info {
    font-size: 40px;
    font-weight: bold;
} 

.description__info {
    font-size: 30px;
    font-weight:400;
}

.membership__info {
    font-size: 18px;
    font-weight:400;
    padding-top:10px;
}

.input__button {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 42px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.input__field {
    /* height: 40px; */
    width: 50%;
    font-size: 18px;
    font-size: 13pts;
    border: 1px solid transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-decoration: none;
    outline: none;
}

.btn__field {
    /* height: 43px; */
    width: 200px;
    background-color: red;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .invisible-landing-div {
    height: 5.2rem;
    width: 100%;
    background-image:linear-gradient(
    180deg,
    transparent,
    rgba(37,37,37,0.61),
    #111
    );
} */


@media only screen and (min-width:0px) and (max-width:320px) {
    .header__info {
        font-size: 13px;
        padding: 0 10px;
        font-weight: bold;
    }

    .description__info {
        font-size: 13px;
        font-weight:500;
        padding-top: 10px;
    }

    .landing__text {
        top: 250px;
    } 

    .membership__info {
        font-size: 13px;
        width: 90vw;
        word-wrap:break-word;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-weight:500;
        padding-top:10px;
    }

    .input__field {
        /* height: 41.6px; */
        width: 60vw;
        font-size: 18px;
        font-size: 13pts;
        border: 1px solid transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
        text-decoration: none;
        outline: none;
    }
    
    .btn__field {
        /* height: 43.95px; */
        width: 30vw;
        background-color: red;
        border: 1px solid transparent;
        color: white;
        cursor: pointer;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media only screen and (min-width:320.1px) and (max-width:375px) {
    .header__info {
        font-size: 15px;
        padding: 0 10px;
        font-weight: bold;
    }



    .description__info {
        font-size: 16px;
        font-weight:500;
        padding-top: 10px;
    }

    .landing__text {
        top: 250px;
    }

    .membership__info {
        font-size: 15px;
        width: 90vw;
        word-wrap:break-word;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-weight:500;
        padding-top:10px;
    }

    .input__field {
        /* height: 41.6px; */
        width: 60vw;
        font-size: 18px;
        font-size: 13pts;
        border: 1px solid transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
        text-decoration: none;
        outline: none;
    }
    
    .btn__field {
        /* height: 43.95px; */
        width: 30vw;
        background-color: red;
        border: 1px solid transparent;
        color: white;
        cursor: pointer;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media only screen and (min-width:375.1px) and (max-width:425px) {
    .header__info {
        font-size: 16px;
        padding: 0 10px;
        font-weight: bold;
    }

    .description__info {
        font-size: 16px;
        font-weight:500;
        padding-top: 10px;
    }

    .landing__text {
        top: 250px;
    }

    .membership__info {
        font-size: 16px;
        width: 90vw;
        word-wrap:break-word;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-weight:500;
        padding-top:10px;
    }

    .input__field {
        /* height: 41.6px; */
        width: 60vw;
        font-size: 18px;
        font-size: 13pts;
        border: 1px solid transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
        text-decoration: none;
        outline: none;
    }
    
    .btn__field {
        /* height: 43.95px; */
        width: 30vw;
        background-color: red;
        border: 1px solid transparent;
        color: white;
        cursor: pointer;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media only screen and (min-width:425.1px) and (max-width:768px) {
    .header__info {
        font-size: 22px;
        padding: 0 10px;
        font-weight: bold;
    }

    .description__info {
        font-size: 25px;
        font-weight:500;
        padding-top: 10px;
    }

    .membership__info {
        font-size: 25px;
        width: 90vw;
        word-wrap:break-word;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-weight:500;
        padding-top:10px;
    }

    .input__field {
        /* height: 41.6px; */
        width: 60vw;
        font-size: 18px;
        font-size: 13pts;
        border: 1px solid transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
        text-decoration: none;
        outline: none;
    }
    
    .btn__field {
        /* height: 43.95px; */
        width: 30vw;
        background-color: red;
        border: 1px solid transparent;
        color: white;
        cursor: pointer;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}