.list_section {
  position: relative;
  height: 400px;
  background: url("https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQUQRRDI6o5BeKpyfsnapNdErE_MvBFwd8vhlkZRJsy_ZMdxDWsrbeRVGfaq3a3MScU0gmdnjDiRbF1RGtCWmjunG_AKuOuC0_U7-MnDgeM2Sx6tstJEvwPpjPRS010b_4Z5tU3EUiCla8QPp6oTNu1IC4KY.jpg?r=451")
    center no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

p {
  color: white;
  margin-top: 60px;
  margin-left: 20px;
  font-size: 2rem;
}
