.playmore__section {
    margin: 0;
    padding: 0;
}

.player__wrapper {
    position: relative;
    width: 100vw;
    height: 50vh;
}

.go__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
}

.navigate-icon {
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: rgb(255,255,255,0.35);
    box-shadow: 0 8px 32px 0 rgba(6, 6, 12, 0.541);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-icon {
    display: flex;
    position: absolute;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    z-index: 10;
    cursor:pointer;
}

/* @media screen and (max-width: 600px) {
    .player__wrapper {
        height: 60vw;
    }
}

@media screen and (max-width: 400px) {
    .player__wrapper {
        height: 60vw;
    }
} */