.profile_section {
    height: 100vh;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: hidden;
}

.profile-header-image {
    display: flex;
}

.header-logo {
    position: fixed;
    width: 120px;
    z-index: 10;
    left: 0;
    object-fit: contain;
    padding-left: 5px;
    top:15px;
}

.avatar__logo {
    object-fit: contain;
    width: 35px;
    right: 4px;
    padding-top: 15px;
    cursor:pointer;
}

.drop-icon {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    position: fixed;
    margin-left: 96%;
    margin-top: 5px;
    z-index: 10;
}

.floated-right-nav {
    display: flex;
    flex-direction: column;
}

.more-nav {
    text-decoration: none;
    list-style-type: none;
    margin-left: 91%;
    background-color: black;
    border:2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 5px;
    width: 86px;
    height: max-content;
    margin-top: 4.5%;
    z-index: 10;
    position: fixed;
}

.more-nav::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    right: 10px;
    top: -12px;
    border-style: solid;
    border-width: 0px 8px 16px 8px;
    border-color: transparent transparent black transparent;
}

.edit__profile__box {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.edit__header {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #282c2d;
}

.profile__info {
    display: flex;
    flex-direction: row;
}

.avatar_logo {
    object-fit: contain;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user__info {    
    margin-left: 25px;
    flex: 1;
}

.user__info > h2 {
    background-color: black;
    color: white;
    border: 1px solid #e50914;
    padding: 15px;
    font-size: 15px;
    padding-left: 10px;
}

.profile_plans {
    margin-top: 20px;
}

.profile_plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.log__out__btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5%;
    color: white;
    border: none;
    background-color: #e50914;
    width: 100%;
    cursor: pointer;
}

/*********Media Query for Mobile***********/
@media only screen and (min-width:0px) and (max-width:320px) {
    .header__logo {
        padding-left: 15px;
    }
    
    .drop-icon {
        margin-left: 80%;
    }

    .more-nav {
        margin-left: 64%;
        margin-top: 20%;
    }

    .edit__profile__box {
        margin-top: 18%;
        width: 280px;
        min-width: 200px;
        margin-left: -3px;
        margin-right: 10px;
    }

    .edit__header {
        font-size: 40px;
        font-weight: 400;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #282c2d;
    }

    .avatar_logo {
        object-fit: contain;
        height: 72px;
        padding-top: 10px;
    }

    .profile__info {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    }

    .user__info {    
        margin-left: 15px;
        flex: 1;
    }
} 

@media only screen and (min-width:321px) and (max-width:376px) {
    .drop-icon {
        margin-left: 85%;
    }

    .more-nav {
        margin-left: 69%;
        margin-top: 16%;
    }

    .edit__profile__box {
        margin-top: 18%;
        width: 290px;
        min-width: 250px;
        margin-left: 15px;
        margin-right: 10px;
    }

    .profile__info {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width:377px) and (max-width:426px) {
    .drop-icon {
        margin-left: 88%;
    }


    .more-nav {
        margin-left: 73%;
        margin-top: 14%;
    }

    .edit__profile__box {
        margin-top: 15%;
        width: 350px;
        min-width: 300px;
        margin-left: 15px;
        margin-right: 10px;
    }
}

@media only screen and (min-width:427px) and (max-width:769px){
    .drop-icon {
        margin-left: 92%;
    }

    .more-nav {
        margin-left: 84.5%;
        margin-top: 8%;
    }

    .edit__profile__box {
        margin-top: 15%;
    }
}

@media only screen and (min-width:770px) and (max-width:1024px) {
    .drop-icon {
        margin-left: 94%;
    }

    .more-nav {
        margin-left: 88%;
        margin-top: 6%;
    }
}

@media only screen and (min-width:1025px) and (max-width:1440px) {
    .drop-icon {
        margin-left: 96%;
    }

    .more-nav {
        margin-left: 92%;
        margin-top: 5%;
    }
}