.profile_section {
    height: 100vh;
    color: white;
}

.header-image {
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
}

.header__start__name {
    display: flex;
    flex-direction: row;
}

.bg__dark {
    background-color: black;
}

.header__logo {
    position: fixed;
    width: 120px;
    z-index: 10;
    left: 0;
    object-fit: contain;
    padding-left: 13px;
    top:15px;
}

.floated-right-nav {
    display: flex;
    flex-direction: column;
}

.avatar__logo {
    object-fit: contain;
    width: 35px;
    right: 4px;
    padding-top: 10px;
    cursor:pointer;
}

.more-nav {
    text-decoration: none;
    list-style-type: none;
    margin-left: 91%;
    background-color: black;
    border:2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 5px;
    width: 86px;
    height: max-content;
    margin-top: 4.5%;
    z-index: 10;
    position: fixed;
}

.more-nav::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    right: 10px;
    top: -12px;
    border-style: solid;
    border-width: 0px 8px 16px 8px;
    border-color: transparent transparent black transparent;
}

.nav-icon {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    position: fixed;
    margin-left: 95%;
    margin-top: 6px;
    z-index: 10;
}

.edit__profile__box {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.edit__header {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #282c2d;
}

.profile__info {
    display: flex;
    flex-direction: row;
}

.avatar_logo {
    object-fit: contain;
    height: 100px;
    padding-top: 10px;
}

.user__info {    
    margin-left: 25px;
    flex: 1;
}

.user__info > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profile_plans {
    margin-top: 20px;
}

.profile_plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.log__out__btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5%;
    color: white;
    border: none;
    background-color: #e50914;
    width: 100%;
    cursor: pointer;
}

/*********Media Query for Mobile***********/
@media only screen and (min-width:0px) and (max-width:320px) {
    .header__logo {
        padding-left: 15px;
    }
    
    .nav-icon {
        margin-top: 6px;
        margin-left: 70%;
    }

    .more-nav {
        margin-left: 64%;
        margin-top: 20%;
    }
} 

@media only screen and (min-width:321px) and (max-width:376px) {
    .nav-icon {
        margin-top: 6px;
        margin-left: 65.5%;
    }

    .more-nav {
        margin-left: 69%;
        margin-top: 16%;
    }
}

@media only screen and (min-width:377px) and (max-width:426px) {
    .nav-icon {
        margin-left: 69.5%;
    }


    .more-nav {
        margin-left: 73%;
        margin-top: 14%;
    }
}

@media only screen and (min-width:427px) and (max-width:769px){
    .nav-icon {
        margin-left: 83%;
    }

    .more-nav {
        margin-left: 84.5%;
        margin-top: 8%;
    }
}

@media only screen and (min-width:770px) and (max-width:1025px) {
    .nav-icon {
        margin-left: 87%;
    }

    .more-nav {
        margin-left: 88%;
        margin-top: 6%;
    }
}