.edit__profile__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    /* border: 1px solid white; */
}
.edit__header {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.profile__info {
    display: flex;
    flex-direction: row;
}

.avatar_logo {
    object-fit: contain;
    width: 80px;
    padding-top: 10px;
}

.user__info {
    color: white;
    padding: 20px 5px;
    margin-left: 10px;
}

.user_name_mail {
    border-radius: 8px;
    color: white;
    margin:10px 0;
}

.user_name_mail > p {
    border: 1px solid red;
    height: 20px;
    padding: 5px 5px;
}

.log__out__div__btn {
    margin-top: 10px;
    margin-left: 95px;
}

.log__out__btn {
    background-color: red;
    color: white;
    height: 30px;
    border: 1px solid red;
    border-radius: 6px;
    width: 230px;
}